/*Selector Universal*/
* {
    margin: 0;
    padding: 0;
}

/* Selectores ID */

#contenedor {

    width: 900px;
    height: 1000px;
    background-color: bisque;
    max-width: 0 auto;

}

#cabecera {
    background-color: aqua;
    height: 15%;
    margin: 5em auto;
}

#navegacion {
    background-color: aquamarine;
    height: 5%;
    margin: 1em auto;
}

#seccion {
    height: 70%;
    
}

#pie {
    height: 10%;
    text-align: center;
    background-color: rgb(201, 34, 120);
    
    
}

/* Selectores de clase */
.Titulo {
    text-align: center;

}

.barra {

}

.piePagina {

}

.texto {
    text-align: justify;
    margin: 0.5em;
    font-size: medium;
    font-family: Tahoma;
    
}

/* Selector de etiqueta */

ul {
    text-align: center;
    padding-top: 15px;
}

li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    margin-left: 5px;
    margin-right: 5px;
}